.expense-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.add-section {
    width: 70%;
    button {
        margin-top: 5vw;
        background: white;
        height: 3rem;
        width: 10rem;
        font-size: medium;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

.expense-section {
  width: 70%;
  hr {
    margin: 0;
    background: black;
    border: 1px solid;
  }
}

.expense-header {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  margin: 0;
  height: 2rem;
  hr {
    width: 1px;
    height: 100%;
  }
  li {
    width: 15vw;
    align-items: center;
    display: flex;
    justify-content: center;
}
}

#categoryHeader, #dateHeader {
    width: 100%;
    height: 100%;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: medium;
}
